body {
   background: orange;
   font-size: 15px;
   margin: 30px;
   align-content: center;
   justify-content: center;
   text-align: center;
}
   button {
      background-color: RGB(24, 119, 242);
      font-size: 15px;
      color: black;
   } 
     input {
        padding: 12px 40px;
        color: black;
     }
          h1, h2 {
             color: RGB(24, 119, 242);
          }                    